
/* Navbar */
.navbar {
  background-color: #152F55;
}

.navbar .navbar-brand {
  color: #FFFFFF;
}

.navbar .nav-link {
  color: #FFFFFF;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #A8AAAD;
}

.navbar .nav-link.active {
  color: #A8AAAD;
  font-weight: bold;
}


/* --- Custom Hero Banner Styles --- */
/* Adapted from banner for https://labs.ala.org.au/ quarto site */

.quarto-title-block.default .quarto-title-banner {
  background-color: #152F55;
  background-size: cover;
  background-position: center center;
  width: 100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 20vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Dark overlay for text readability */
.quarto-title-block.default .quarto-title-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 1; 
}

/* Title content positioning */
.quarto-title-block.default .quarto-title-content {
  position: relative;
  z-index: 2;
}

/* Title text */
.quarto-title-block.default .quarto-title .title {
  color: #f5f9ff;
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0); 
}

/* Subtitle text */
.quarto-title-block.default .quarto-title .subtitle {
  color: #F0F0F0;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-with-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title-logo {
  width: 18vh;
  height: auto;
}

/* Resize the title-block logo */
.custom-logo {
  height: 80px;   /* adjust as needed */
  width: auto;    /* keeps aspect ratio */
}