/* Navbar */
.navbar {
  background-color: #152F55;
}

/* Navbar */
.navbar {
  background-color: #253351;
}

.navbar .navbar-brand {
  color: #fefeff;
}

.navbar .nav-link {
  color: #fefeff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #6c92de;
  font-weight: bold;
}

.navbar .nav-link.active {
  color: #c5dbff;
  font-weight: bold;
}


/* --- Custom Hero Banner Styles --- */
/* Adapted from banner for https://labs.ala.org.au/ quarto site */

.quarto-title-block.default .quarto-title-banner {
  background-color: #253351;
  background-size: cover;
  background-position: center center;
  width: 100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 20vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Dark overlay for text readability */
.quarto-title-block.default .quarto-title-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 1; 
}

/* Title content positioning */
.quarto-title-block.default .quarto-title-content {
  position: relative;
  z-index: 2;
}

/* Title text with automatic logo */
.quarto-title-block.default .quarto-title .title {
  color: #f5f9ff;
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
  display: inline-flex;
  align-items: center;
}

/* add logo before title on banner */
.quarto-title-block.default .quarto-title .title::before {
  content: "";
  display: inline-block;
  width: 16vh;
  height: 16vh;
  background-image: url('img/home/scgis_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2rem;
  vertical-align: middle;
}

/* Subtitle text */
.quarto-title-block.default .quarto-title .subtitle {
  color: #F0F0F0;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Resize the title-block logo */
.custom-logo {
  height: 80px;   /* adjust as needed */
  width: auto;    /* keeps aspect ratio */
}